<footer class="border-top footer text-muted" style="line-height: 50px;">
    <div class="container text-center">
        &copy; 2023 - Commerce Genie - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>